[Desktop Entry]
Name=Vtwm (X11)
Comment=VTWM by Sqydev
Exec=startx exec /run/current-system/sw/bin/vtwm
TryExec=startx exec /run/current-system/sw/bin/vtwm
Type=XSession
