[Desktop Entry]
Type=XSession
Exec=/run/current-system/sw/bin/vtwm
TryExec=/run/current-system/sw/bin/vtwm
DesktopNames=vtmw
Name=Vtwm (X11)
Comment=VTWM by Sqydev
